.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/@@20170510-19대선-투표구별개표자료(공개용).xlsx
data-raw/20180619-7지선-01-(시도지사)_읍면동별개표자료.xlsx
data-raw/20180619-7지선-02-(구시군의장)_읍면동별개표자료.xlsx
data-raw/국회의원선거 개표결과(제20대)
.Rproj.user
